<header>
    <div class="navbar">
        <div class="logo"><a href="/">SeasonServe</a></div>
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <div>
            <a href="/signin" class="signin">Sign In</a>
            <a href="/signup" class="signup_btn">Sign Up</a>
        </div>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>

    </div>
    <div class="dropdown_menu">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/signin" class="signin">Sign In</a></li>
        <li><a href="/signup" class="signup_btn">Sign Up</a></li>
    </div>
</header>

<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function () {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
    }
</script>