<header>
    <div class="eventsNavbar">
        <img src="../img/logo.png" class="logo">
        <ul class="links">
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
        <div>
            <a href="/logout" class="logout_btn">Logout</a>
        </div>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    
    <div class="dropdown_menu">
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/" class="logout_btn">Logout</a></li>
    </div>
</header>

<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function () {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
    }
</script>