<!-- this is the body of Dashboard -->
<div>
    <main>
        <section id="dash">
            <h1>Hello, <%= user.firstName %> 👋</h1>
            <div class="dashBtn">
                <a href="/events" class="hero_btn">Explore Events</a>
            </div>
        </section>
    </main>
</div>