<!-- this is the body of Dashboard -->
<div>
    <main>
        <section id="dash">
            <h1>Hello, <%= user.firstName %> 👋</h1>
            <div class="dashBtn">
                <img src="public/img/Welcome-bro.png" alt="community image"  style="margin-bottom: 10%; width: 40%;">
                <br>
                <a href="/events" class="hero_btn">Explore Events</a>
            </div>
        </section>
    </main>
</div>