<!-- this is the body of About -->
<div>
    <main>
        <section id="about">
            <div class="aboutUs">
                <h1>About Us</h1>
                <p>SeasonServe is a web-based platform designed to connect volunteers with seasonal events where
                    interested participants can browse, view details, and sign up for events. </p>
                <p>Beyond connecting people with meaningful experiences, the platform helps volunteers gain valuable
                    skills in various fields while making a positive impact in their community.</p>
            </div>

            <h2>Team Members</h2>
            <div class="team">
                <div class="team-box">
                    <h3>Felwah Almofeez</h3>
                    <a href="mailto:"><i class="fa-regular fa-envelope"></i></a>
                </div>
                <div class="team-box">
                    <h3>Norah Altwijri</h3>
                    <a href="mailto:Nouraaltwijriii@gmail.com"><i class="fa-regular fa-envelope"></i></a>
                </div>
                <div class="team-box">
                    <h3>Noura Abuthnain</h3>
                    <a href="mailto:noura7abuthnain@gmail.com"><i class="fa-regular fa-envelope"></i></a>
                </div>
                <div class="team-box">
                    <h3>Zainah Alnoamani</h3>
                    <a href="mailto:Zainahmohammed8@gmail.com"><i class="fa-regular fa-envelope"></i></a>
                </div>
            </div>
        </section>
    </main>
</div>