<!-- this is the body of Events -->
<div class="container-fluid container-fluid-custom">
    <main class="main">
        <h2>Opportunities</h2>
        <div class="search-bar">
            <input type="text" placeholder="Event title or keyword" class="search-input">
            <select class="location" id="location">Location
                <option value="Riyadh">Riyadh</option>
                <option value="Jeddah">Jeddah</option>
                <option value="Dammam">Dammam</option>
                <option value="Hail">Hail</option>
            </select>
            <button class="search-btn">Search</button>
        </div>
        <div class="opportunity-list">
            <% events.forEach(opportunity => { %>  <div class="opportunity-list">
                <div class="opportunity-card blue">
                    <div class="info">
                        <span><img class="event-image" , src="<% opportunity.image %>"></span>
                        <div class="text-block">
                            <div class="title"><%= opportunity.title %></div>
                            <div class="subtitle"><i class="fa-regular fa-calendar">&nbsp;</i><%=opportunity.time %>  &nbsp; 
                                 <i class="fa-solid fa-location-dot"></i>&nbsp;<%=opportunity.location %></div>
                        </div>
                    </div>
                    <a href="/event/<%= opportunity._id %>" class="btn">View Details</a>
                </div>
            </div>
        <% }) %>
        </div>
    </main>
</div>
