<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title><%= title %></title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">LOGO</a></div>
            <ul class="links">
                <li><a href="">Home</a></li>
                <li><a href="">Opportunities</a></li>
                <li><a href="">Account</a></li>
            </ul>
            <div>
                <a href="" class="login">Login</a>
                <a href="" class="signup_btn">Sign Up</a>
            </div>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="dropdown_menu">
            <li><a href="">Home</a></li>
            <li><a href="">Opportunities</a></li>
            <li><a href="">Account</a></li>
            <li><a href="" class="login">Login</a></li>
            <li><a href="" class="signup_btn">Sign Up</a></li>
        </div>
    </header>

    <main class="main">
        <h2>Opportunities</h2>
        <div class="search-bar">
            <input type="text" placeholder="Event title or keyword" class="search-input">
            <input type="text" placeholder="Location" class="search-input">
            <button class="search-btn">Search</button>
        </div>
        
        <div class="opportunity-list">
            <% opportunities.forEach(opportunity => { %>
                <div class="opportunity-card <%= opportunity.color %>">
                    <div class="info">
                        <div class="text-block">
                            <div class="title"><%= opportunity.title %></div>
                            <div class="subtitle"><%= opportunity.description %></div>
                        </div>
                    </div>
                    <button class="btn">View Details</button>
                </div>
            <% }) %>
        </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <h4>LOGO</h4>
        <p>&copy; 2025, All Rights Reserved</p>
    </footer>

    <script>
        const toggleBtn = document.querySelector('.toggle_btn');
        const toggleBtnIcon = document.querySelector('.toggle_btn i');
        const dropDownMenu = document.querySelector('.dropdown_menu');

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open');
            const isOpen = dropDownMenu.classList.contains('open');

            toggleBtnIcon.className = isOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars';
        };
    </script>
</body>
</html>
 