<!-- this is the body of Homepage -->
<div>
    <main>
        <section id="home">
            <h2>SeasonServe</h2>
            <p>Join our vibrant community of volunteers for major seasonal events! Our platform connects you with
                remarkable chances to make a difference while gaining unforgettable experiences.<br>Be a part of
                something bigger—volunteer today and help create memorable moments!
            </p>
            <div>
                <a href="/signup" class="hero_btn">Learn more</a>
            </div>
        </section>

        <section id="features">
            <h1>Our Features</h1>
            <p>Making Every Season Count!</p>
            <div class="fea-base">
                <div class="fea-box">
                    <i class="fa-regular fa-clock"></i>
                    <h3>Flexible Opportunities</h3>
                    <p>Decide when and where you want to volunteer.</p>
                </div>
                <div class="fea-box">
                    <i class="fa-regular fa-heart"></i>
                    <h3>Create a Real Impact</h3>
                    <p>Your time and effort develop meaningful experiences for others.</p>
                </div>
                <div class="fea-box">
                    <i class="fa-regular fa-lightbulb"></i>
                    <h3>Gain Experience and Skills</h3>
                    <p>Build leadership, teamwork, and problem-solving skills.</p>
                </div>
                <div class="fea-box">
                    <i class="fa-regular fa-calendar"></i>
                    <h3>Various Events</h3>
                    <p>Volunteer for seasonal events, sports, and more!</p>
                </div>
            </div>
        </section>
    </main>
</div>