<!-- this is the body of Homepage -->
<div>
    <main>
        <section id="home">
            <h1>Discover Discover Discover Discover</h1>
            <p>Making Every Season Count!Making Every Season Count!Making Every Season Count!</p>
            <a href="/signup" class="hero_btn">Learn more</a>
        </section>



        <section id="features">
            <h1>Our Features</h1>
            <p>Making Every Season Count!Making Every Season Count!Making Every Season Count!</p>
            <div class="fea-base">
                <div class="fea-box">
                    <i class="fa-solid fa-laptop-code"></i>
                    <p>laptop</p>
                </div>
            </div>
        
        </section>


        <!-- <section id="boxes">
            <h1>Features</h1>
            <p>Making Every Season Count!
            </p>

            <div class="row">
                <div class="col" style="background: #F07167;">
                    <h3>a</h3>
                </div>
                <div class="col" style="background: #00FFB2;">
                    <h3>a</h3>
                </div>
                <div class="col" style="background: #0A387C;">
                    <h3>a</h3>
                </div>
            </div>
        </section> -->
    </main>
</div>