<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <title>Sign Up - Step 2</title>
</head>
<body>
    <div class="sign-container">
        <div class="sign-background"></div>
        <div class="sign-card">
            <h2 class="sign-heading">Create an Account - Step 2</h2>
            <p class="sign-subheading">Create an account to continue</p>
            <form class="form">
                <div class="form-group">
                    <label for="phone">Phone number:</label>
                    <input type="text" id="phone" required>
                </div>
                <div class="form-group">
                    <label for="national_id">National ID / Residence number:</label>
                    <input type="text" id="national_id" required>
                </div>
                <div class="form-group">
                    <label for="birthdate">Birth date:</label>
                    <input type="date" id="birthdate" required>
                </div>
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <select id="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <button type="submit" class="sign-btn">Next Step</button>
            </form>
            <p class="login-signup-text">
                Already have an account? <a href="#" class="login-signup-link">Login</a>
            </p>
        </div>
    </div>
</body>
</html>
